name: CI
env:
  BUILD_ARTIFACT: gigastore-artifact
  COVERAGE_ARTIFACT: gigastore-code-coverage
  COVERAGE_FILE: coverage.txt

on:
  push:
    branches: [ 'main' ]

  workflow_dispatch:

jobs:
  audit:
    name: Audit packages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Package audit
        run: npm audit

  lint:
    name: Lint code
    runs-on: ubuntu-latest
    needs: audit

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install packages
      run: npm ci

    - name: Lint code
      run: npm run lint

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install packages
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.BUILD_ARTIFACT }}
          path: dist

  unittest:
    name: Unit testing
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install packages
      run: npm ci
    
    - name: Run unit tests
      run: npm test

  coverage:
    name: Code coverage
    runs-on: ubuntu-latest
    needs: unittest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install packages
      run: npm ci
    
    - name: Check code coverage
      run: npm run coverage > ${{ env.COVERAGE_FILE }}

    - name: Upload code coverage
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.COVERAGE_ARTIFACT }}
        path: coverage.txt

  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/configure-pages@v5
    - uses: actions/checkout@v5
    - run: npm ci
    - run: npm run build
    - run: actions/upload-pages-artifact@v4
      with:
        path: dist
    - uses: actions/deploy-pages@v4
      id: deployment

